<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ 'SolvedProblems' | translate }}</h5>
<!--    <h6 class="card-subtitle mb-2 text-muted">-->
<!--      Statistikani ko'rish uchun sizga kerak-->
<!--    </h6>-->
    <div class="card-text d-flex justify-content-between">
      <p>
        Oson
      </p>
      <div>
        1 dan 1
      </div>
    </div>
    <div class="card-text d-flex justify-content-between">
      <p>
        O'rtacha
      </p>
      <div>
        0 dan 1
      </div>
    </div>
    <div class="card-text d-flex justify-content-between">
      <p>
        Qiyin
      </p>
      <div>
        1 dan 2
      </div>
    </div>
  </div>
</div>
